body
  h1  hashedOut 
  #container
   #content
      h2  Create your own web index.
      p  A simple solution to how you collect and index relevant information. 
      ul
        li Index fully or any part of the webpage.
        li Simple way of uploading relevant information.
        li Search your index seamlessly.
   #login
     <h4>Sign in</h4>
     form(action='/login', method='POST')
        #Email
          //label(for=everyauth.password.loginFormFieldName) Email
          input.text-input(type='text', name=everyauth.password.loginFormFieldName, value="Email", required='')
        #password
          //label(for=everyauth.password.passwordFormFieldName) Password
          input.text-input(type='password', name=everyauth.password.passwordFormFieldName, value="Password")
        #submit
          input.btn(type='submit', value = "Sign In") Login
        //
        form 
    #signup  
     <h4>New to hashedOut? Sign up<h4> 
     form(action='/register', method='POST')
        #name
          //label(for='name') Name
          input.text-input(type='text', name='name', value="Full Name")
        #Email
          //label(for=everyauth.password.loginFormFieldName) Email
          input.text-input(type='text', name=everyauth.password.loginFormFieldName, value="Email")
        #password
          //label(for=everyauth.password.passwordFormFieldName) Password
          input.text-input(type='password', name=everyauth.password.passwordFormFieldName, value="Password")
        #submit
          input.btn(type='submit', value="Sign Up") Register
       //
       form 
